[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/tevador/RandomX
[submodule "external/supercop"]
	path = external/supercop
	url = https://github.com/monero-project/supercop
	branch = monero
[submodule "tests/benchmark_serialization/benchmark"]
	path = tests/benchmark_serialization/benchmark
	url = https://github.com/google/benchmark.git
[submodule "tests/benchmark_serialization/gperftools"]
	path = tests/benchmark_serialization/gperftools
	url = https://github.com/gperftools/gperftools.git
